#empty-minicart {
    background: #1979c3;
    border: 1px solid #1979c3;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    cursor: pointer;
    text-decoration: none;
}

#empty-minicart:hover {
    background: #ffffff;
    color: #1979c3;
}
.secondary.empty-cart-button {
    text-align: center;
}

.centered-popup .modal-inner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    /* Full viewport height */
}

.centered-popup .modal-popup {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    max-width: 10px;
    /* Adjust the maximum width as needed */
    width: 50%;
    /* Ensure it is responsive */
    max-height: 80vh;
    /* Adjust the maximum height as needed */
    overflow-y: auto;
    /* Enable scrolling if content overflows */
    padding: 20px;
    /* Add some padding for better appearance */
    box-sizing: border-box;
    /* Ensure padding is included in the total width and height */
}